{% extends "main.html" %} {% block tabs %} {{ super() }}

<style>
  /* create blank canvas */
  
</style>

<body>
<!-- Main site Entry button descriptions -->
<section class="container">
  <div class="md-typeset md-grid">
    <div class="hero">
      <div class="hero-image">
        <img
          id="hero-img"
          src="images/cartoon hospital.jpeg"
          draggable="false"
          width="500"
        />
      </div>

      <div class="hero-content">
        <h1>NHS England Data Science</h1>

        <p>
          The latest techniques, applied to real business problems for the benefit of the patient.
        </p>

        <a
          href="what_is_data_science/index.md"
          title="What is Data Science?"
          class="md-button md-button--primary"
          style="text-align: center;"
        >
          What is Data Science?
        </a>

        <a
          href="our_work/index.md"
          title="See our work"
          class="md-button"
        >
         See how our work has benefited the NHS
        </a>

        <a
        href="our_work/index.md"
        title="See our work"
        class="md-button"
        >
        How can I learn data science?
      </a>
      </div>
    </div>
  </div>
</section>

<h1>A showcase of some of our projects!</h1>

<div class="carousel_wrapper">
 
  <div  class="carousel">
      
     <div class="slide one">
      <a href="our_work/ai-dictionary">
         <img src="./images/ai-dictionary.png" width="80px" />
         <div class="card-btn-container">
             <span>AI dictionary → </span>
         </div>
        </a>
     </div>
  
      <div class="slide two">
        <a href="our_work/ambulance-delay-predictor">
        <img src="./images/ambulance-delay-predictor.png" width="80px" />
        <div class="card-btn-container">
             <span>Ambulance Delay Predictor → </span>
         </div>
        </a>
     </div>
  
       <div class="slide three">
        <a href="our_work/ds218_rap_community_of_practice">
          <img src="./images/ds218_rap_community_of_practice.png" width="80px" />
          <div class="card-btn-container">
               <span>RAP → </span>
           </div>
          </a>
     </div>
  
       <div class="slide four">
        <a href="our_work/bed-allocation">
          <img src="./images/bed-allocation.png" width="80px" />
          <div class="card-btn-container">
               <span>Bed Allocation → </span>
           </div>
          </a>
     </div>
     
      <div class="slide five">
        <a href="our_work/p22_txtrayalign">
        <img src="./images/p22fig1.png" width="80px" />
          <div class="card-btn-container">
               <span>Txt Ray Align → </span>
           </div>
          </a>
    </div>
    
      <div class="slide six">
        <a href="our_work/p32_phmdiabetes">
          <img src="./images/p32fig1.png" width="80px" />
            <div class="card-btn-container">
                 <span>Inequalities in Diabetes from PHM Data → </span>
             </div>
        </a>
    </div>

      <div class="slide seven">
        <a href="our_work/parkinsons-detection">
          <img src="./images/parkinsons-detection.png" width="80px" />
            <div class="card-btn-container">
                 <span>Parkinson's Detection → </span>
             </div>
        </a>
      </div>
      <div class="slide eight">
        <a href="our_work/c250_nhscorpus">
          <img src="./images/c250fig1.png" width="80px" />
            <div class="card-btn-container">
                 <span>Building an NHS Language Corpus → </span>
             </div>
        </a>
      </div>

      <div class="slide nine">
        <a href="our_work/c338_poud">
          <img src="./images/c338fig1.png" width="80px" />
            <div class="card-btn-container">
                 <span>Assessing Privacy of Unstructure Data → </span>
             </div>
        </a>
      </div>
    
    </div>
  
 </div>

 <!-- this code is a starting point for when we decide to make the carousel randomly generate projects to display (if we decide that) -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var sections = document.querySelectorAll('.slide');
    var selectedSections = [];

    // Randomly select 9 sections
    while (selectedSections.length < 9) {
      var randomIndex = Math.floor(Math.random() * sections.length);
      if (!selectedSections.includes(randomIndex)) {
        selectedSections.push(randomIndex);
      }
    }
    // Display the selected sections
    selectedSections.forEach(function (index) {
      sections[index].style.display = 'inline';
    });
  });
</script>

{% endblock %} {% block content %}{% endblock %} {% block footer %} {{ super()
}} {% endblock %}
</body>