{% extends "main.html" %} {% block tabs %} {{ super() }}

<style>
  /* create blank canvas */
  .md-main {
    max-height: 0px;
  }

  .container {
    background: #425563;
  }

  .hero {
    display: flex;
    align-items: center;

    color: var(--md-primary-bg-color);
  }

  .hero-image {
    flex: 3;
    order: 1;
  }

  #hero-img {
    float: right;
    object-fit: cover;
    min-height: 600px;
  }

  .hero-content {
    flex: 2;
    margin: 1.6rem 0.8rem;
  }

  .hero h1 {
    margin-bottom: 1rem;

    color: currentColor;
    font-weight: 700;
  }

  .hero .md-button--primary {
    background-color: var(--md-primary-fg-color);
    border-color: var(--md-primary-fg-color);
  }

  .hero .md-button {
    margin-top: 0.5rem;
    margin-right: 0.5rem;

    color: var(--md-primary-bg-color);
  }

  .hero .md-button:focus,
  .hero .md-button:hover {
    color: var(--md-default-bg-color);
    background-color: var(--md-accent-fg-color);
    border-color: var(--md-accent-fg-color);
  }

  .top-hr {
    margin: 10px;
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
  }

  .feature-item {
    flex: 1;
    flex-basis: 0%;
    min-width: 300px;

    box-sizing: border-box;
    margin: 10px;
    padding: 0 15px;

    background-color: var(--md-primary-fg-color);
    border: 2px solid var(--md-primary-fg-color);
    border-radius: 2px;

    font-family: "Arial", sans-serif;
    font-weight: 300;
    word-break: break-word;
  }

  .feature-item:hover {
    background-color: var(--md-accent-fg-color);
    border-color: var(--md-accent-fg-color);
    border-radius: 2px;
  }

  .feature-item h2 {
    margin-top: 20px;
    margin-bottom: 10px;

    color: var(--md-default-bg-color);
    font-weight: 300;
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    font-family: inherit;
  }

  .feature-item h2 svg {
    float: left;
    height: 30px;
    margin-right: 10px;
  }

  .feature-item p {
    margin: 0 0 10px;

    font-size: 16px;
    line-height: 1.8em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: var(--md-default-bg-color);

    display: block;
  }

  /* medium screen */
  @media screen and (max-width: 1360px) {
    .feature-item {
      flex-basis: 40%;
    }

    .hero-content {
      flex: 1;
    }

    .hero-image {
      flex: 2;
    }

    #hero-img {
      min-height: 400px;
    }
  }

  /* small screen */
  @media screen and (max-width: 800px) {
    .hero {
      flex-direction: column;
    }

    .hero h1 {
      font-size: 1.4rem;
    }

    .hero-image {
      flex: 1;
      order: 0;
    }

    #hero-img {
      min-height: 250px;
    }
  }


.hero-content {
  flex: 2;
  margin: 1.6rem 0.8rem;
}

.hero h1 {
  margin-bottom: 1rem;

  color: currentColor;
  font-weight: 700;
}

.hero .md-button--primary {
  background-color: var(--md-primary-fg-color);
  border-color: var(--md-primary-fg-color);
}

.hero .md-button {
  margin-top: 0.5rem;
  margin-right: 0.5rem;

  color: var(--md-primary-bg-color);
}

.hero .md-button:focus,
.hero .md-button:hover {
  color: var(--md-default-bg-color);
  background-color: var(--md-accent-fg-color);
  border-color: var(--md-accent-fg-color);
}

.top-hr {
  margin: 10px;
  padding: 20px;

  display: flex;
  flex-wrap: wrap;
}

.feature-item {
  flex: 1;
  flex-basis: 0%;
  min-width: 300px;

  box-sizing: border-box;
  margin: 10px;
  padding: 0 15px;

  background-color: var(--md-primary-fg-color);
  border: 2px solid var(--md-primary-fg-color);
  border-radius: 2px;

  font-family: "Arial", sans-serif;
  font-weight: 300;
  word-break: break-word;
}

.feature-item:hover {
  background-color: var(--md-accent-fg-color);
  border-color: var(--md-accent-fg-color);
  border-radius: 2px;
}

.feature-item h2 {
  margin-top: 20px;
  margin-bottom: 10px;

  color: var(--md-default-bg-color);
  font-weight: 300;
  font-size: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
  font-family: inherit;
}

.feature-item h2 svg {
  float: left;
  height: 30px;
  margin-right: 10px;
}

.feature-item p {
  margin: 0 0 10px;

  font-size: 16px;
  line-height: 1.8em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: var(--md-default-bg-color);

  display: block;
}

/* medium screen */
@media screen and (max-width: 1360px) {
  .feature-item {
    flex-basis: 40%;
  }

  .hero-content {
    flex: 1;
  }

  .hero-image {
    flex: 2;
  }

  #hero-img {
    min-height: 400px;
  }
}
  </style>

<body>
<!-- Main site Entry button descriptions -->
<section class="container">
  <div class="md-typeset md-grid">
    <div class="hero">
      <div class="hero-image">
        <img
          id="hero-img"
          src="images/cartoon hospital.jpeg"
          draggable="false"
          width="500"
        />
      </div>

      <div class="hero-content">
        <h1>NHS England Data Science</h1>

        <p>
          The latest techniques, applied to real business problems for the benefit of the patient.
        </p>

        <a
          href="what_is_data_science/"
          title="What is Data Science?"
          class="md-button md-button--primary"
          style="text-align: center;"
        >
          What is Data Science?
        </a>

        <a
          href="our_work/"
          title="See our work"
          class="md-button"
        >
         See how our work has benefited the NHS
        </a>

        <a
        href="what_is_data_science/How you can learn Data Science/"
        title="See our work"
        class="md-button"
        >
        How can I learn data science?
      </a>
      </div>
    </div>
  </div>
</section>

<h1>A showcase of some of our projects!</h1>

<div class="carousel_wrapper">
 
  <div  class="carousel">
      
     <div class="slide one">
      <a href="our_work/ai-dictionary">
         <img src="./images/ai-dictionary.png" width="80px" />
         <div class="card-btn-container">
             <span>AI dictionary → </span>
         </div>
        </a>
     </div>
  
      <div class="slide two">
        <a href="our_work/ambulance-delay-predictor">
        <img src="./images/ambulance-delay-predictor.png" width="80px" />
        <div class="card-btn-container">
             <span>Ambulance Delay Predictor → </span>
         </div>
        </a>
     </div>
  
       <div class="slide three">
        <a href="our_work/ds218_rap_community_of_practice">
          <img src="./images/ds218_rap_community_of_practice.png" width="80px" />
          <div class="card-btn-container">
               <span>RAP → </span>
           </div>
          </a>
     </div>
  
       <div class="slide four">
        <a href="our_work/bed-allocation">
          <img src="./images/bed-allocation.png" width="80px" />
          <div class="card-btn-container">
               <span>Bed Allocation → </span>
           </div>
          </a>
     </div>
     
      <div class="slide five">
        <a href="our_work/p22_txtrayalign">
        <img src="./images/p22fig1.png" width="80px" />
          <div class="card-btn-container">
               <span>Txt Ray Align → </span>
           </div>
          </a>
    </div>
    
      <div class="slide six">
        <a href="our_work/p32_phmdiabetes">
          <img src="./images/p32fig1.png" width="80px" />
            <div class="card-btn-container">
                 <span>Inequalities in Diabetes from PHM Data → </span>
             </div>
        </a>
    </div>

      <div class="slide seven">
        <a href="our_work/parkinsons-detection">
          <img src="./images/parkinsons-detection.png" width="80px" />
            <div class="card-btn-container">
                 <span>Parkinson's Detection → </span>
             </div>
        </a>
      </div>
      <div class="slide eight">
        <a href="our_work/c250_nhscorpus">
          <img src="./images/c250fig1.png" width="80px" />
            <div class="card-btn-container">
                 <span>Building an NHS Language Corpus → </span>
             </div>
        </a>
      </div>

      <div class="slide nine">
        <a href="our_work/c338_poud">
          <img src="./images/c338fig1.png" width="80px" />
            <div class="card-btn-container">
                 <span>Assessing Privacy of Unstructure Data → </span>
             </div>
        </a>
      </div>
    
    </div>
  
 </div>

 <!-- this code is a starting point for when we decide to make the carousel randomly generate projects to display (if we decide that) -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var sections = document.querySelectorAll('.slide');
    var selectedSections = [];

    // Randomly select 9 sections
    while (selectedSections.length < 9) {
      var randomIndex = Math.floor(Math.random() * sections.length);
      if (!selectedSections.includes(randomIndex)) {
        selectedSections.push(randomIndex);
      }
    }
    // Display the selected sections
    selectedSections.forEach(function (index) {
      sections[index].style.display = 'inline';
    });
  });
</script>

{% endblock %} {% block content %}{% endblock %} {% block footer %} {{ super()
}} {% endblock %}
</body>