{% extends "main.html" %} {% block tabs %} {{ super() }}

<style>
  /* create blank canvas */
  .md-main {
    max-height: 0px;
  }

  .container {
    background: #425563;
  }

  .hero {
    display: flex;
    align-items: center;

    color: var(--md-primary-bg-color);
  }

  .hero-image {
    flex: 3;
    order: 1;
  }

  #hero-img {
    float: right;
    object-fit: cover;
    min-height: 400px;
  }

  .hero-content {
    flex: 2;
    margin: 1.6rem 0.8rem;
  }

  .hero h1 {
    margin-bottom: 1rem;

    color: currentColor;
    font-weight: 700;
  }

  .hero .md-button--primary {
    background-color: var(--md-primary-fg-color);
    border-color: var(--md-primary-fg-color);
  }

  .hero .md-button {
    margin-top: 0.5rem;
    margin-right: 0.5rem;

    color: var(--md-primary-bg-color);
  }

  .hero .md-button:focus,
  .hero .md-button:hover {
    color: var(--md-default-bg-color);
    background-color: var(--md-accent-fg-color);
    border-color: var(--md-accent-fg-color);
  }

  .top-hr {
    margin: 10px;
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
  }

  .feature-item {
    flex: 1;
    flex-basis: 0%;
    min-width: 300px;

    box-sizing: border-box;
    margin: 10px;
    padding: 0 15px;

    background-color: var(--md-primary-fg-color);
    border: 2px solid var(--md-primary-fg-color);
    border-radius: 2px;

    font-family: "Arial", sans-serif;
    font-weight: 300;
    word-break: break-word;
  }

  .feature-item:hover {
    background-color: var(--md-accent-fg-color);
    border-color: var(--md-accent-fg-color);
    border-radius: 2px;
  }

  .feature-item h2 {
    margin-top: 20px;
    margin-bottom: 10px;

    color: var(--md-default-bg-color);
    font-weight: 300;
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    font-family: inherit;
  }

  .feature-item h2 svg {
    float: left;
    height: 30px;
    margin-right: 10px;
  }

  .feature-item p {
    margin: 0 0 10px;

    font-size: 16px;
    line-height: 1.8em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: var(--md-default-bg-color);

    display: block;
  }

  /* medium screen */
  @media screen and (max-width: 1360px) {
    .feature-item {
      flex-basis: 40%;
    }

    .hero-content {
      flex: 1;
    }

    .hero-image {
      flex: 2;
    }

    #hero-img {
      min-height: 400px;
    }
  }

  /* small screen */
  @media screen and (max-width: 800px) {
    .hero {
      flex-direction: column;
    }

    .hero h1 {
      font-size: 1.4rem;
    }

    .hero-image {
      flex: 1;
      order: 0;
    }

    #hero-img {
      min-height: 250px;
    }
  }

.slide {
    display: none;
  }

.hero-content {
  flex: 2;
  margin: 1.6rem 0.8rem;
}

.hero h1 {
  margin-bottom: 1rem;

  color: currentColor;
  font-weight: 700;
}

.hero .md-button--primary {
  background-color: var(--md-primary-fg-color);
  border-color: var(--md-primary-fg-color);
}

.hero .md-button {
  margin-top: 0.5rem;
  margin-right: 0.5rem;

  color: var(--md-primary-bg-color);
}

.hero .md-button:focus,
.hero .md-button:hover {
  color: var(--md-default-bg-color);
  background-color: var(--md-accent-fg-color);
  border-color: var(--md-accent-fg-color);
}

.top-hr {
  margin: 10px;
  padding: 20px;

  display: flex;
  flex-wrap: wrap;
}

.feature-item {
  flex: 1;
  flex-basis: 0%;
  min-width: 300px;

  box-sizing: border-box;
  margin: 10px;
  padding: 0 15px;

  background-color: var(--md-primary-fg-color);
  border: 2px solid var(--md-primary-fg-color);
  border-radius: 2px;

  font-family: "Arial", sans-serif;
  font-weight: 300;
  word-break: break-word;
}

.feature-item:hover {
  background-color: var(--md-accent-fg-color);
  border-color: var(--md-accent-fg-color);
  border-radius: 2px;
}

.feature-item h2 {
  margin-top: 20px;
  margin-bottom: 10px;

  color: var(--md-default-bg-color);
  font-weight: 300;
  font-size: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
  font-family: inherit;
}

.feature-item h2 svg {
  float: left;
  height: 30px;
  margin-right: 10px;
}

.feature-item p {
  margin: 0 0 10px;

  font-size: 16px;
  line-height: 1.8em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: var(--md-default-bg-color);

  display: block;
}

/* medium screen */
@media screen and (max-width: 1360px) {
  .feature-item {
    flex-basis: 40%;
  }

  .hero-content {
    flex: 1;
  }

  .hero-image {
    flex: 2;
  }

  #hero-img {
    min-height: 400px;
  }
}
  </style>

<body>
<!-- Main site Entry button descriptions -->
<section class="container">
  <div class="md-typeset md-grid">
    <div class="hero">
      <div class="hero-image">
        <img
          id="hero-img"
          src="images/cartoon hospital_smaller_compressed.jpeg"
          draggable="false"
          width="500"
        />
      </div>

      <div class="hero-content">
        <h1>NHS England Data Science</h1>

        <p>
          The latest techniques, applied to real business problems for the benefit of the patient.
        </p>

        <a
          href="about/"
          title="About Data Science in NHS England"
          class="md-button md-button--primary"
          style="text-align: center;"
        >
         About Data Science in NHS England
        </a>

        <a
          href="our_work/"
          title="See our work"
          class="md-button"
        >
         Explore our work and its impact
        </a>

        <a
        href="PhDInterns/"
        title="PhD Intenrship Scheme"
        class="md-button"
        >
        See our PhD Internship Scheme
      </a>
      </div>
    </div>
  </div>
</section>

<h1>A showcase of some of our projects!</h1>

<div class="carousel_wrapper">
 
  <div  class="carousel">
      
     <div class="slide one">
      <a href="#">
         <img src="" width="80px" />
         <div class="card-btn-container">
             <span></span>
         </div>
        </a>
     </div>
  
     <div class="slide two">
      <a href="#">
         <img src="" width="80px" />
         <div class="card-btn-container">
             <span></span>
         </div>
        </a>
     </div>
  
     <div class="slide three">
      <a href="#">
         <img src="" width="80px" />
         <div class="card-btn-container">
             <span></span>
         </div>
        </a>
     </div>
  
     <div class="slide four">
      <a href="#">
         <img src="" width="80px" />
         <div class="card-btn-container">
             <span></span>
         </div>
        </a>
     </div>
     
     <div class="slide five">
      <a href="#">
         <img src="" width="80px" />
         <div class="card-btn-container">
             <span></span>
         </div>
        </a>
     </div>
    
     <div class="slide six">
      <a href="#">
         <img src="" width="80px" />
         <div class="card-btn-container">
             <span></span>
         </div>
        </a>
     </div>

     <div class="slide seven">
      <a href="#">
         <img src="" width="80px" />
         <div class="card-btn-container">
             <span></span>
         </div>
        </a>
     </div>

      <div class="slide eight">
      <a href="#">
         <img src="" width="80px" />
         <div class="card-btn-container">
             <span></span>
         </div>
        </a>
     </div>

     <div class="slide nine">
      <a href="#">
         <img src="" width="80px" />
         <div class="card-btn-container">
             <span></span>
         </div>
        </a>
     </div>
    
    </div>
  
 </div>

<script>
  const project_URLs = ['our_work/p23_stm.md', 
    'our_work/data-lens.md', 
    'our_work/linkage.md', 
    'our_work/p32_phmdiabetes.md', 
    'our_work/p22_txtrayalign.md', 
    'our_work/c338_poud.md', 
    'our_work/bed-allocation.md', 
    'our_work/ratings-and-reviews.md', 
    'our_work/c250_nhscorpus.md', 
    'our_work/ambulance-delay-predictor.md', 
    'our_work/casestudy-recruitment-shortlisting.md', 
    'our_work/p31_txtrayalign2.md', 
    'our_work/nursing-placement-optimisation.md', 
    'our_work/c339_sas.md', 
    'our_work/ai-dictionary.md', 
    'our_work/adrenal-lesions.md', 
    'our_work/ai-deep-dive.md', 
    'our_work/renal-health-prediction.md', 
    'our_work/p12_synthvae.md', 
    'our_work/casestudy-synthetic-data-pipeline.md', 
    'our_work/p24_lime.md', 
    'our_work/ct-alignment.md', 
    'our_work/c399_privfinger.md', 
    'our_work/p43_medcat.md', 
    'our_work/p34_hypergraphs.md', 
    'our_work/p14_mcr.md', 
    'our_work/synthetic-data-pipeline.md', 
    'our_work/a_and_e_forecasting_tool.md', 
    'our_work/p11_synpathdiabetes.md', 
    'our_work/nhs-resolution.md', 
    'our_work/long-stay-baseline.md', 
    'our_work/parkinsons-detection.md', 
    'our_work/p42_hypergraphs2.md', 
    'our_work/long-stay.md', 
    'our_work/ai-skunkworks.md', 
    'our_work/c245_synpath.md', 
    'our_work/p21_synthvae.md', 
    'our_work/p33_patientsafetylms.md', 
    'our_work/ds255_privacyfp.md', 
    'our_work/ds218_rap_community_of_practice.md', 
    'our_work/open-safely.md']

    
document.addEventListener("DOMContentLoaded", async function () {
  const slides = document.querySelectorAll('.slide');

  // Helper function to fetch and parse HTML
  async function fetchHTML(url) {
    try {
      const response = await fetch(url);
      const text = await response.text();
      const parser = new DOMParser();
      return parser.parseFromString(text, 'text/html');
    } catch (error) {
      console.error('Error fetching HTML:', error);
    }
  }

  // Randomly select 9 unique URLs
  const selectedUrls = [];
  while (selectedUrls.length < 9) {
    const randomIndex = Math.floor(Math.random() * project_URLs.length);
    const url = project_URLs[randomIndex];
    if (!selectedUrls.includes(url.slice(0,-3)+'/')) {
      selectedUrls.push(url.slice(0,-3)+'/');
    }
  }

  console.log('Selected URLs:', selectedUrls);

  // Update slides with selected URLs
  for (let i = 0; i < selectedUrls.length; i++) {
    const url = selectedUrls[i];
    const page = await fetchHTML(url);
    // const page = page_absolute;
    if (page) {
      const images = page.querySelectorAll('img');
      if (images.length > 2) {
        const secondImg = images[2];
        slides[i].style.display = 'flex';
        const anchor = slides[i].querySelector('a');
        anchor.href = url;
        const img = anchor.querySelector('img');
        img.src = secondImg.src.replace('/images/', '/datascience/images/')
        img.alt = secondImg.alt || 'Project Image';
        const span = anchor.querySelector('span');
        span.textContent = `${page.title} →`;
      } else {
        slides[i].style.display = 'flex';
        const anchor = slides[i].querySelector('a');
        anchor.href = url;
        const img = anchor.querySelector('img');
        img.src = 'images/logo/nhs-blue-on-white.jpg'
        img.alt = 'NHS Logo';
        const span = anchor.querySelector('span');
        span.textContent = `${page.title} →`;
      }
    }
  }
});
</script>

{% endblock %} {% block content %}{% endblock %} {% block footer %} {{ super()
}} {% endblock %}
</body>