site_name: NHS England Data Science
site_url: https://nhsengland.github.io/datascience
repo_url: https://github.com/NHSEngland/datascience
repo_name: NHS England Data Science Website
edit_uri: edit/main/docs/
plugins:
  - search
  - awesome-pages
  - blog:
      blog_dir: ./articles
      authors_file: "{blog}/.authors.yml"
  - tags:
      tags_file: our_work/tags.md  
nav:
  - Home: index.md
  - What is Data Science?: 
    - ... | flat | what_is_data_science/*.md
  - About the team: about.md
  - Articles:  
    - ... | flat | articles/*.md
  - Projects: 
    - Our Work: our_work/index.md
    - Project Tags: our_work/tags.md
    - ... | flat | regex=our_work/(?!template-project\.md).*\.md
  # - Tools: 
  #   - ... | flat | tools/*.md
  - Playbooks: playbooks.md
  # - Codebases: codebases.md
  - Useful links: useful_links.md
  - Meta Page: meta_page.md
theme:
  name: material
  custom_dir: overrides
  palette:
    scheme: default
    primary: indigo
  font:
    text: Arial
  logo: images/logo/nhs-blue-on-white.jpg
  favicon: images/favicon/favicon.ico
  features:
    - search.share
    - content.code.annotate
    - content.tabs.link
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes
    - navigation.path
    - navigation.top
  icon:
    admonition:
      <type>: material/alert
extra_css:
  - stylesheets/extra.css
markdown_extensions:
  - tables
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - pymdownx.mark
  - md_in_html
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/nhsengland/datascience
      name: NHS England Data Science
  generator: false
copyright: Copyright &copy; 2023 Crown Copyright (NHS England)
extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - javascripts/tablesort.js
  - https://unpkg.com/tablefilter@0.7.3/dist/tablefilter/tablefilter.js
  - javascripts/tablefilter.js
watch:
  - overrides
