Babel
click
colorama
ghp-import
gitdb
GitPython
importlib-metadata
Jinja2
Markdown
MarkupSafe
mergedeep
mkdocs
mkdocs-exclude-search
mkdocs-git-revision-date-localized-plugin
mkdocs-open-in-new-tab
mkdocs-material
mkdocs-material-extensions
mkdocs-jupyter
mkdocs-awesome-pages-plugin
mkdocs-macros-plugin
packaging
pyparsing
Pygments
pymdown-extensions
pyparsing
python-dateutil
pytz
PyYAML
pyyaml_env_tag
setuptools
six
smmap
typing_extensions
watchdog
wheel
zipp
-e ./plugins/suppress_logs